.converter{
	background-color: #78B1E9;
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
    align-content: center;
    
}

h1.animate__animated.animate__backInLeft{
  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  margin-bottom: 60px;
}

.mainbox{
	background-color: #78B1E9;
	border: 6px dashed #1976d2;
	padding: 80px 50px;
	border-radius: 10px;
	display: flex;
	align-items: center;

}
#input-group-dropdown-2{
	background-color: #1976d2;
	display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 173px;
}

#input-group-dropdown-2:hover{
	background-color: blue;
}
.css-20bmp1-MuiSvgIcon-root.swap, .MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.swap.css-10vyf6v{
	color: white;
	font-size: 40px;
	margin: 5px;
}